---
import "../styles/global.css";
import Heading from "../components/Heading.astro";
import Button from "../components/Button.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Nav />
    <h1>About</h1>
    <Heading as="h1" level="5">Hej</Heading>

    <Button href="/" variant="primary">Home</Button>
    <Button variant="secondary">Home</Button>
    <Button href="/" variant="tertiary">Home</Button>
  </body>
</html>
